*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Saira', sans-serif;
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
}

.nombreProducto{
    margin-top: 1rem;
    font-weight: bold;
    color: black;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 15px;
}

.productoCargado{
    margin-top: 1rem;
    font-weight: bold;
    color: black;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 15px;
}

.msgProdAgregado{
    margin-top: 1rem;
    font-weight: bold;
    color: black;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 15px;
    display: none;
}

.precioProducto{
    color: green;
    font-weight: bold;
}

.contenedor{
    margin: 0 auto;
}
.contenedor-productos{
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    overflow: hidden;
}

.imagenProducto{
    object-fit: cover;
    object-position: center;
}

.btnAgregar {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: grey;
}

.btnAgregar:hover{
    background-color: white;
    transform: scale(1,1.2);
}

.contenedor-checkout{
    margin-top: 1rem; 
    display: grid;
    gap: 1rem; 
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    justify-content: space-around;
}

.contenedor-checkout .imagenProducto{
    height: auto;
    width: 80px;
    object-position: left;
    /* display: inline-block; */
}

.contenedor-checkout .card{
    height: 120px;
    width: 100%;
    /* margin-bottom: 2rem; */
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    overflow: hidden;
}

.contenedor-checkout .productoCargado{
    margin-top: 1rem;
    font-weight: bold;
    color: black;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 15px;
}

/* Estilo del boton de carrito */

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:black;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}

.red-cart {
	color: black; background:white;
}

#btnFinalizar{
    margin-bottom: 20px;
}